body {
    background-color: #441E13;
    color: white;
}

.logocontainer {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    overflow: hidden;  /*make the div grow to accommodate float child elements */
}

.logo {
    width: 205px;
    float: left;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.slogan {
    width: 380px;
    float: left;
    color: #A37B71;
    font-family: sans-serif;
    font-size: 0.9rem;
    margin-top: 18px;
}

.nav {
    background-color: rgba(0,0,0,0.25);
    height: 62px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 920px;
}

.nav ol {
    padding: 18px 10px;
}

.nav li {
    border-right: 1px solid #D4B364;
    display: block;
    float: left;
    font-family: sans-serif;
    padding: 6px 20px;
}

.nav li:last-child{
    border-right: none;
}

.aboutcontainer {
    max-width: 920px;
    height: 212px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #87A984;
}

.plane {
    width: 200px;
    height: 187px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
    float: left;
}

.about {
    width: 375px;
    height: 187px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    padding-top: 10px;
    
}

.aboutpara {
    color:antiquewhite;
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 100;
}

.bigcontainer {
    max-width: 920px;
    height: 650px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; 
    overflow: hidden; 
}

.links {
    width: 212px;
    height: 650px;
    background-color: #96AFAC;
    float: left;
}

.links ol {
    padding: 10px 30px;
}

.links li {
    border-bottom: 1px solid #c6c6c6; 
    font-family: sans-serif;
    padding: 10px 10px;
    display: block;
}

.howwework {
    background-color: antiquewhite;
    width: 608px;
    height: 650px;
    padding-top: 50px;
    padding-left: 262px;
    padding-right: 50px;
    color: black;
    font-family: sans-serif;
}